*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 

}
a{
    text-decoration: none;
}
body{
    background-image: url(./bg.webp);
    background-repeat: no-repeat;
    height: 110vh;
    font-family: 'Roboto', sans-serif;
}

header{
    
    color: rgb(194, 71, 155);
    height: 50px;
    padding: 20px;
    position: sticky;
    top: 0%;
    font-weight: bold;
    font-size: 20px;

}
.logo{

   
    
    display: inline-block;
    
}

.link{
    
    display: inline-block;
    width: 600px;
    position: absolute;
    right: 30px;
}
.link>a{
    margin: 20px;
    color: white;
    transition: all 0.5s;
}

.link>a:hover{
    color: red;
}
h1{
    color: rgb(236, 248, 5);
        width: 400px;
    position: relative;
    top: 100px;
    left: 70px;
    font-size: 80px;
}
.h3{
  
    width: 400px;
    
    position: relative;
    top: 100px;
    left: 70px;
    color: rgb(42, 116, 165);
    font-weight: 100;
    font-size: 30px;
}
.p{
   
    width: 400px;
    position: relative;
    top: 100px;
    left: 70px;
    color: white;
    font-size: 20px;
    font-style: italic;
    word-spacing: 4px;
    font-weight: bold;

}

.btn{
    width: 150px;
    padding: 15px;
    border: 1px solid salmon;
    position: relative;
    top: 110px;
    left: 70px;
    
    font-weight: 600;
    background-color: salmon;
    color: aliceblue;
    transition: all 0.5s;

}

.btn:hover{
    background-color: aliceblue;
    color: black;
}